.root {
    width: 100%;
    height: 100%;
    background: #36ba8c;
    flex-direction: row;
    display: block;
}

.tabsContainer {
    display: flex;
    height: 100%;
    width: fit-content;
    position: relative;
}

.tab {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
}